<div class ="container">
	<row>
		<div class ="col-xs-offset-3 col-xs-6">
			<h2>USER INFO</h2>
			<%= form_for(@user) do |f| %>
				<row>
					<div class ="col-xs-12">
						<p>NAME</p>
						<%= f.text_field :name %>
						<p>IMAGE</p>
						<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
						<p>INTRODUCTION</p>
						<%= f.text_area :introduction %>
						<P><%= f.submit "USER UPDATE", class: "update-btn" %></P>
					</div>
				</row>
			<% end %>
		</div>
	</row>
</div>