<div class ="container">
	<%= render "layouts/error-book" %>
	<row>
		<div class ="col-xs-3">
			<%= render "layouts/partial", {user: @user, book: @book } %>
		</div>
		<div class ="col-xs-9">
			<h2>Books</h2>
			<table>
				<thead>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<% @books.each do |book| %>
					<tbody>
						<tr>
							<td><%= attachment_image_tag book.user, :profile_image, size: "40x40", format: 'jpg', fallback: "no_img.jpg", class: "user-image"  %></td>
							<td><a href = "/books/<%= book.id %>"><%= book.title %></td>
							<td><%= book.body %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</row>
</div>