<div class ="container">
	<%= flash[:create] %>
	<%= flash[:update] %>
	<row>
		<div class ="col-xs-3">
			<%= render "layouts/partial", {user: @user, book: @book } %>
		</div>
		<div class ="col-xs-9">
			<h2>Book detail</h2>
			<table>
				<thead>
					<th>Image</th>
					<th>Title</th>
					<th>Opinion</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<td><%= attachment_image_tag @user, :profile_image, size: "40x40", format: 'jpg', fallback: "no_img.jpg", class: "user-image" %></td>
					<td><%= @books.title %></td>
					<td><%= @books.body%></td>
					<% if @books.user_id == current_user.id%>
						<td><%= link_to "Edit",  edit_book_path(@books.id), class: "edit-btn" %> </td>
						<td><%= link_to "Delete", book_path, method: :delete, class: "delete-btn", "data-confirm" => "本当に削しますか？" %></td>
					<% end %>
				</tbody>
			</table>
		</div>
	</row>
</div>