
<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpg', fallback: "no_img.jpg", class: "user-image" %>
<table class ="table">
	<tbody>
		<tr>
			<th>Name</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
			<th>Inroduction</th>
			<th><%= user.introduction %></th>
		</tr>
	</tbody>
</table>
<div class ="row">
	<%= link_to edit_user_path(user.id), class: "col-xs-12 btn-default" do%>
		<span>ユーザ編集</span>
	<% end %>
</div>
<h2>New book</h2>
<%= form_for(book) do |f| %>
	<div class ="row">
		<label>Title</<label>
		<%= f.text_field :title ,class: "col-xs-12" %>
	</div>
	<div class ="row">
		<label>Opinion</<label>
		<%= f.text_area :body ,class: "col-xs-12" %>
	</div>
	<div class ="row">
		<%= f.submit "Create Book",class: "col-xs-12" %>
	</div>
<% end %>




