
<h2>USER INFO</h2>

<table>
	<tbody>
		<tr>
			<th>NAME</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
			<th>INTRODUCTION</th>
			<th><%= user.introduction %></th>
		</tr>
	</tbody>
</table>
<p>
	<%= link_to edit_user_path(user.id), class: "edit-btn" do%>
		<span>ユーザ編集</span>
	<% end %>
</p>
<h2>NEW BOOKS</h2>
<%= form_for(book) do |f| %>
	<row>
		<div class ="col-xs-12">
			<p>TITLE</p>
			<%= f.text_field :title %>
			<p>OPNION</p>
			<%= f.text_area :body %>
		</div>
	</row>
	<row>
		<div class ="col-xs-12">
			<%= f.submit "CREATE BOOK" %>
		</div>
	</row>
	<row>
<% end %>




